@charset "utf-8";

/* ****************************** *
 * COMMON
 * ****************************** */
#container {
  padding: 70px 0;
  box-sizing: border-box;
  position: relative;
}
#container.about,
#container.contact {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.95) 8%,
      rgba(255, 255, 255, 0.95) 100%
    ),
    linear-gradient(
      90deg,
      #000 0px,
      #000 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    ),
    linear-gradient(
      #000 0px,
      #000 1px,
      transparent 1px,
      transparent 99px,
      transparent 100px
    );
  background-size: 100% 100%, 80px 100%, 100% 50px;
}

/* PAGE TITLE */
.page-title {
  width: 100%;
  height: 100px;
  padding: 28px 100px;
  box-sizing: border-box;
  border-bottom: 1px solid #000;
  vertical-align: middle;
}
.page-title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 800;
  letter-spacing: -2px;
}

/* WRAP ALIGN */
.wrap-align {
  max-width: 1400px;
  margin: 90px auto;
}

/* ****************************** *
 * ABOUT ME
 * ****************************** */
#container.about {
  width: 100%;
  height: 100vh;
}

/* BOX WRAP */
.box-wrap {
  width: 100%;
}
.box-wrap .box {
  width: 100%;
  overflow: hidden;
  border: 1px solid #000;
  box-sizing: border-box;
  background: #fff;
}
.box-wrap .box > li {
  width: 33.333%;
  height: 300px;
  padding: 32px 30px;
  float: left;
  border-right: 1px solid #000;
  box-sizing: border-box;
}
.box-wrap .box > li.box-skill,
.box-wrap .box > li.box-career {
  border: 0;
}
.box-wrap .box > li.box-profile,
.box-wrap .box > li.box-skill {
  width: 50%;
  height: 325px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
}
.box-wrap .box > li > .box-title {
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

/* .box-profile */
.box-wrap .box > li.box-profile {
}
.box-wrap .box > li.box-profile > .box-content {
  display: flex;
  align-items: center;
  margin: 25px 0;
  padding: 0 36px;
  box-sizing: border-box;
}
.box-wrap .box > li.box-profile .profile-pic {
  width: 196px;
  height: 196px;
  margin-right: 52px;
}
.box-wrap .box > li.box-profile .profile-ul {
}
.box-wrap .box > li.box-profile .profile-ul > li {
  margin-bottom: 30px;
}
.box-wrap .box > li.box-profile .profile-ul > li:last-child {
  margin: 0;
}
.box-wrap .box > li.box-profile .profile-ul > li > span {
  display: inline-block;
  width: 60px;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
}

/* .box-skill */
.box-wrap .box > li.box-skill {
}
.box-wrap .box > li.box-skill > ul {
  margin: 24px 26px 0;
}
.box-wrap .box > li.box-skill > ul > li {
  margin-bottom: 14px;
}
.box-wrap .box > li.box-skill > ul > li .skill-cate {
  display: inline-block;
  width: 95px;
  font-family: "Kanit", sans-serif;
}
.box-wrap .box > li.box-skill > ul > li .skill-bar {
  display: inline-block;
  width: 250px;
  height: 11px;
  position: relative;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
.box-wrap .box > li.box-skill > ul > li .skill-bar::before {
  display: block;
  content: "";
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: #b8ff65;
  border-radius: 6px;
}
.box-wrap .box > li.box-skill > ul > li.skill-photoshop .skill-bar::before {
  width: 90%;
}
.box-wrap .box > li.box-skill > ul > li.skill-illust .skill-bar::before {
  width: 80%;
}
.box-wrap .box > li.box-skill > ul > li.skill-html .skill-bar::before {
  width: 90%;
}
.box-wrap .box > li.box-skill > ul > li.skill-jquery .skill-bar::before {
  width: 70%;
}
.box-wrap .box > li.box-skill > ul > li .skill-txt {
  margin-top: 8px;
  font-size: 14px;
}

/* .box-education */
.box-wrap .box > li.box-education {
}
.box-wrap .box > li.box-education .box-content {
  padding: 26px 18px;
  box-sizing: border-box;
}
.box-wrap .box > li.box-education .box-content .education-ul {
}
.box-wrap .box > li.box-education .box-content .education-ul > li {
  margin-bottom: 18px;
}
.box-wrap .box > li.box-education .box-content .education-ul > li:last-child {
  margin: 0;
}
.box-wrap .box > li.box-education .box-content .education-ul > li > .date {
  display: block;
  margin-bottom: 6px;
  font-family: "Kanit", sans-serif;
}
.box-wrap .box > li.box-education .box-content .education-ul > li > p {
  font-size: 15px;
}

/* .box-certificate */
.box-wrap .box > li.box-certificate {
}
.box-wrap .box > li.box-certificate .box-content {
  padding: 26px 18px;
  box-sizing: border-box;
}
.box-wrap .box > li.box-certificate .box-content .certificate-ul {
}
.box-wrap .box > li.box-certificate .box-content .certificate-ul > li {
  margin-bottom: 20px;
}
.box-wrap .box > li.box-certificate .box-content .certificate-ul > li > .date {
  display: inline-block;
  width: 75px;
  font-family: "Kanit", sans-serif;
}
.box-wrap .box > li.box-certificate .box-content .certificate-ul > li > p {
  display: inline-block;
  font-size: 15px;
}

/* .box-career */
.box-wrap .box > li.box-career {
}
.box-wrap .box > li.box-career .box-content {
  padding: 26px 18px;
  box-sizing: border-box;
}
.box-wrap .box > li.box-career .box-content .career-ul {
}
.box-wrap .box > li.box-career .box-content .career-ul > li {
  margin-bottom: 20px;
}
.box-wrap .box > li.box-career .box-content .career-ul > li > .date {
  display: inline-block;
  margin-bottom: 6px;
  font-family: "Kanit", sans-serif;
}
.box-wrap .box > li.box-career .box-content .career-ul > li > p {
  font-size: 15px;
}

/* ****************************** *
 * WORK
 * ****************************** */
#container.work {
}
#container.work .sct-list {
  margin-bottom: 120px;
}
#container.work .sct-list .sct-title {
  margin-bottom: 60px;
  text-align: center;
}
#container.work .sct-list .sct-title > span {
  padding: 4px 12px;
  border-radius: 10px;
  background: #b8ff65;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
#container.work .sct-list > ul {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  width: 100%;
  margin: 0 -1%;
}
#container.work .sct-list > ul > li {
  width: 31.333%;
  margin-bottom: 50px;
  margin: 0 1% 50px;
  border: 2px solid #000;
  box-sizing: border-box;
}
#container.work .sct-list > ul > li > .thumb-box {
}
#container.work .sct-list > ul > li > .thumb-box > .thumb {
  display: block;
  background: #f9f9f9;
}
#container.work .sct-list > ul > li > .cont-box {
  padding: 30px;
  border-top: 2px solid #000;
  box-sizing: border-box;
}
#container.work .sct-list > ul > li > .cont-box > .title {
  margin-bottom: 14px;
  font-size: 18px;
  font-weight: 600;
}
#container.work .sct-list > ul > li > .cont-box > .txt {
  margin-bottom: 10px;
  font-size: 14px;
  letter-spacing: -0.3px;
}
#container.work .sct-list > ul > li > .cont-box > .txt > .cate {
  display: inline-block;
  width: 60px;
}
#container.work .sct-list > ul > li > .cont-box a.doc-btn {
  font-size: 14px;
}
#container.work .sct-list > ul > li > .cont-box a.doc-btn > i {
  transition: color 0.3s;
}
#container.work .sct-list > ul > li > .cont-box a.doc-btn:hover > i {
  color: #b8ff65;
}
#container.work .sct-list > ul > li > .cont-box > .btn-list {
  display: flex;
  justify-content: center;
}
#container.work .sct-list > ul > li > .cont-box > .btn-list > li {
  margin: 0 2px;
}
#container.work .sct-list > ul > li > .cont-box > .btn-list > li > a.view-btn {
  display: block;
  padding: 10px 15px;
  margin: 32px auto 12px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.1);
  font-size: 11px;
  letter-spacing: -0.3px;
  text-align: center;
  transition: all 0.3s;
}
#container.work
  .sct-list
  > ul
  > li
  > .cont-box
  > .btn-list
  > li
  > a.view-btn:hover {
  border-color: #b8ff65;
}
#container.work
  .sct-list
  > ul
  > li
  > .cont-box
  > .btn-list
  > li
  > a.view-btn::before {
  display: block;
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: #b8ff65;
  transition: width 0.3s;
}
#container.work
  .sct-list
  > ul
  > li
  > .cont-box
  > .btn-list
  > li
  > a.view-btn:hover::before {
  width: 100%;
}
#container.work
  .sct-list
  > ul
  > li
  > .cont-box
  > .btn-list
  > li
  > a.view-btn
  > span {
  font-weight: 600;
}

/* ****************************** *
 * ARTWORK
 * ****************************** */
#container.artwork {
}
#container.artwork .sct-list {
  margin-bottom: 120px;
}
#container.artwork .sct-list .sct-title {
  margin-bottom: 60px;
  text-align: center;
}
#container.artwork .sct-list .sct-title > span {
  padding: 4px 12px;
  border-radius: 10px;
  background: #b8ff65;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 700;
}
#container.artwork .sct-list > .list-cont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
#container.artwork .sct-list > .list-cont > a {
  margin: 10px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  background-color: #ddd;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s;
}
#container.artwork .sct-list > .list-cont > a::after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: all 0.4s;
}
#container.artwork .sct-list > .list-cont > a:hover::after {
  opacity: 0.4;
}

#container.artwork .sct-banner > .list-cont > a {
  width: 31%;
  height: 155px;
}
#container.artwork .sct-banner > .list-cont > a:nth-child(1) {
  background-image: url(../img/page/banner-1.jpg);
}
#container.artwork .sct-banner > .list-cont > a:nth-child(2) {
  background-image: url(../img/page/banner-2.jpg);
}
#container.artwork .sct-banner > .list-cont > a:nth-child(3) {
  background-image: url(../img/page/banner-3.jpg);
}
#container.artwork .sct-banner > .list-cont > a:nth-child(4) {
  background-image: url(../img/page/banner-4.jpg);
}
#container.artwork .sct-banner > .list-cont > a:nth-child(5) {
  background-image: url(../img/page/banner-5.jpg);
}
#container.artwork .sct-banner > .list-cont > a:nth-child(6) {
  background-image: url(../img/page/banner-6.jpg);
}
#container.artwork .sct-banner > .list-cont > a:nth-child(7) {
  background-image: url(../img/page/banner-7.jpg);
}
#container.artwork .sct-banner > .list-cont > a:nth-child(8) {
  background-image: url(../img/page/banner-8.jpg);
}

#container.artwork .sct-webcon > .list-cont > a {
  width: 23%;
  height: 336px;
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(1) {
  background-image: url(../img/page/webcon-1.jpg);
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(2) {
  background-image: url(../img/page/webcon-2.jpg);
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(3) {
  background-image: url(../img/page/webcon-3.jpg);
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(4) {
  background-image: url(../img/page/webcon-4.jpg);
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(5) {
  background-image: url(../img/page/webcon-5.jpg);
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(6) {
  background-image: url(../img/page/webcon-6.jpg);
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(7) {
  background-image: url(../img/page/webcon-7.jpg);
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(8) {
  background-image: url(../img/page/webcon-8.jpg);
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(9) {
  background-image: url(../img/page/webcon-9.jpg);
}
#container.artwork .sct-webcon > .list-cont > a:nth-child(10) {
  background-image: url(../img/page/webcon-10.jpg);
}

#container.artwork .sct-artwork > .list-cont > a {
  width: 23%;
  height: 336px;
}
#container.artwork .sct-artwork > .list-cont > a:nth-child(1) {
  background-image: url(../img/page/artwork-1.jpg);
}
#container.artwork .sct-artwork > .list-cont > a:nth-child(2) {
  background-image: url(../img/page/artwork-2.jpg);
}
#container.artwork .sct-artwork > .list-cont > a:nth-child(3) {
  background-image: url(../img/page/artwork-3.jpg);
}
#container.artwork .sct-artwork > .list-cont > a:nth-child(4) {
  background-image: url(../img/page/artwork-4.jpg);
}
#container.artwork .sct-artwork > .list-cont > a:nth-child(5) {
  background-image: url(../img/page/artwork-5.jpg);
}

/* ****************************** *
 * CONTACT
 * ****************************** */
#container.contact {
  width: 100%;
  height: 100vh;
}
#container.contact .wrap-align {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  height: calc(100vh - 170px);
  margin: 0;
}
/* .contact-txt */
.contact-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.contact-txt > h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 800;
}
.contact-txt > h3 > span {
  color: #b8ff65;
}
.contact-txt > p {
  margin: 20px 0;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 500;
}
.contact-txt > h4 {
  margin-bottom: 70px;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 700;
}
.contact-txt > ul {
  display: flex;
  justify-content: space-between;
  width: 1020px;
  padding: 26px;
}
.contact-txt > ul > li {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 424px;
  height: 140px;
  padding: 0 50px;
  position: relative;
  border: 1px solid #000;
  box-sizing: border-box;
  background: #b8ff65;
  box-shadow: -26px -26px;
}
.contact-txt > ul > li > p {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
}
.contact-txt > ul > li > p > i {
  padding-right: 15px;
}
.contact-txt > ul > li > img {
  width: 96px;
  height: 96px;
}

.contact-txt > p.copyright {
  margin: 0;
  position: absolute;
  bottom: 20px;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}
